---
layout: default
---


<div class="heading" id="toc">
  <h2>विषय - सूची</h2>
</div>
<div class="section toc">
  <div class="col">
    <h4><a href="#html">एचटीएमएल</a></h4>
    <ul>
      <li><a href="#html-syntax">वाक्य - विन्यास</a></li>
      <li><a href="#html-doctype">एचटीएमएल 5 doctype</a></li>
      <li><a href="#html-lang">भाषा विशेषता</a></li>
      <li><a href="#html-encoding">अक्षरों को सांकेतिक अक्षरों में बदलना</a></li>
      <li><a href="#html-ie-compatibility-mode">इंटरनेट एक्सप्लोरर संगतता मोड</a></li>
      <li><a href="#html-style-script">सीएसएस और जावास्क्रिप्ट शामिल</a></li>
      <li><a href="#html-practicality">पवित्रता से अधिक व्यावहारिकता</a></li>
      <li><a href="#html-attribute-order">आदेश गुण</a></li>
      <li><a href="#html-boolean-attributes">बूलियन गुण</a></li>
      <li><a href="#html-reducing-markup">मार्कअप को कम करना</a></li>
      <li><a href="#html-javascript">जावास्क्रिप्ट उत्पन्न मार्कअप</a></li>
    </ul>
  </div>
  <div class="col">
    <h4><a href="#css">सीएसएस</a></h4>
    <ul>
      <li><a href="#css-syntax">सीएसएस वाक्य रचना</a></li>
      <li><a href="#css-declaration-order">घोषणा के आदेश</a></li>
      <li><a href="#css-import">@import का प्रयोग न करें</a></li>
      <li><a href="#css-media-queries">मीडिया क्वेरी के प्लेसमेंट</a></li>
      <li><a href="#css-prefixed-properties">उपसर्ग के गुण</a></li>
      <li><a href="#css-single-declarations">एकल घोषणाओं के साथ नियम</a></li>
      <li><a href="#css-shorthand">संक्षेप संकेतन</a></li>
      <li><a href="#css-nesting"> LESS और SASS में नेस्टिंग</a></li>
      <li><a href="#css-operators">LESS और SASS में ऑपरेटर</a></li>
      <li><a href="#css-comments">टिप्पणियाँ</a></li>
      <li><a href="#css-classes">शैक्षणिक</a></li>
      <li><a href="#css-selectors">चयनकर्ताओं</a></li>
      <li><a href="#css-organization">संगठन</a></li>
    </ul>
  </div>
</div>


<div class="section" id="golden-rule">
  <div class="col">
    <h2>सुनहरा नियम</h2>
    <p>इन, या अपने स्वयं लागू करने, सभी समय पर दिशा-निर्देशों पर सहमत हुए। छोटे या बड़े, बाहर कॉल क्या गलत है। जोड़ या इस संहिता गाइड करने के लिए योगदान के लिए, कृपया <a href="https://github.com/mdo/code-guide/issues/new">GitHub पर एक मुद्दा खोलने</a>.</p>
  </div>
  <div class="col">
    <blockquote>
      <p>कोड की हर पंक्ति एक ही व्यक्ति द्वारा लिखे जाने के लिए प्रकट करना चाहिए, कोई योगदानकर्ताओं की संख्या में कोई फर्क।</p>
    </blockquote>
  </div>
</div>



<div class="heading" id="html">
  <h2>एचटीएमएल</h2>
</div>

<div class="section" id="html-syntax">
  <div class="col">
    <h3>वाक्य - विन्यास</h3>
    <ul>
      <li>दो स्थानों-वे कोड की गारंटी करने के लिए एक ही रास्ता के साथ नरम टैब का उपयोग किसी भी वातावरण में ही प्रदान करता है।</li>
      <li>नेस्टेड तत्व एक बार इंडेंट किया जाना चाहिए (दो रिक्त स्थान)।</li>
      <li>हमेशा डबल कोट्स, कभी एकल उद्धरण, विशेषताओं पर इस्तेमाल करते हैं।</li>
      <li>खुद बंद में स्लैश शामिल न करें तत्व-  <a href="http://dev.w3.org/html5/spec-author-view/syntax.html#syntax-start-tag">एचटीएमएल 5 कल्पना</a>  का कहना है कि वे वैकल्पिक रहे हैं।</li>
      <li>न आना न वैकल्पिक बंद टैग (जैसे  <code>&lt;/li&gt;</code> or <code>&lt;/body&gt;</code>).</li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/syntax.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-doctype">
  <div class="col">
    <h3>एचटीएमएल 5 doctype</h3>
    <p>हर HTML पृष्ठ की शुरुआत में इस सरल doctype के साथ संभव हर ब्राउज़र में मानकों मोड और अधिक सुसंगत प्रतिपादन लागू।</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/doctype.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-lang">
  <div class="col">
    <h3>भाषा विशेषता</h3>
    <p>एचटीएमएल 5 कल्पना से:</p>
    <blockquote>
      <p>लेखक दस्तावेज़ की भाषा देने जड़ HTML तत्व पर एक लैंग विशेषता निर्दिष्ट करने के लिए प्रोत्साहित किया जाता है। यह निर्धारित करने के लिए क्या उच्चारण का उपयोग करने के लिए, अनुवाद उपकरण निर्धारित करने के लिए क्या उपयोग करने के नियमों, और इसके आगे के भाषण संश्लेषण उपकरण एड्स।</p>
    </blockquote>
    <p>के बारे में और अधिक पढ़ें  <code>lang</code> विशेषता  <a href="http://www.w3.org/html/wg/drafts/html/master/semantics.html#the-html-element">कल्पना में</a>.</p>
    <p>एक के लिए Sitepoint करने के लिए सिर <a href="http://reference.sitepoint.com/html/lang-codes">भाषा कोड की सूची</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/lang.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-ie-compatibility-mode">
  <div class="col">
    <h3>IE संगतता मोड</h3>
    <p>इंटरनेट एक्सप्लोरर एक दस्तावेज अनुकूलता के उपयोग का समर्थन  <code>&lt;meta&gt;</code> IE के संस्करण क्या पृष्ठ के रूप में प्रदान की जानी चाहिए निर्दिष्ट करने के लिए टैग। जब तक हालात अन्यथा की आवश्यकता होती है, इसके साथ नवीनतम समर्थित मोड का उपयोग करने के लिए IE हिदायत लिए सबसे उपयोगी  <strong>एज मोड</strong>.</p>
    <p>अधिक जानकारी के लिए, <a href="http://stackoverflow.com/questions/6771258/whats-the-difference-if-meta-http-equiv-x-ua-compatible-content-ie-edge-e">इस भयानक पोट अतिप्रवाह लेख पढ़ा (स्टैक ओवरफ्ल)</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/ie-compatibility-mode.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-encoding">
  <div class="col">
    <h3>अक्षरों को सांकेतिक अक्षरों में बदलना</h3>
    <p>जल्दी और आसानी से एक स्पष्ट वर्ण एन्कोडिंग की घोषणा के द्वारा यह सुनिश्चित अपनी सामग्री के समुचित प्रतिपादन। जब ऐसा करने से, आप अपने HTML में चरित्र संस्थाओं का उपयोग कर से बचने के लिए कर सकते हैं, बशर्ते उनके एन्कोडिंग दस्तावेज़ (आम तौर पर UTF-8) की है कि मेल खाता है।</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/encoding.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-style-script">
  <div class="col">
    <h3>सीएसएस और जावास्क्रिप्ट शामिल</h3>
    <p>प्रति एचटीएमएल 5 कल्पना, आम तौर पर वहाँ एक निर्दिष्ट करने के लिए कोई जरूरत नहीं है <code>type</code> जब सहित सीएसएस और जावास्क्रिप्ट फ़ाइलों के रूप में  <code>text/css</code> और <code>text/javascript</code> उनके संबंधित चूक रहे हैं।</p>
    <h4>एचटीएमएल 5 कल्पना लिंक</h4>
    <ul>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-link-element">लिंक का उपयोग</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-style-element">शैली का प्रयोग</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/scripting-1.html#the-script-element">स्क्रिप्ट का प्रयोग</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/style-script.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-practicality">
  <div class="col">
    <h3>पवित्रता से अधिक व्यावहारिकता</h3>
    <p>व्यावहारिकता की कीमत पर एचटीएमएल मानकों और शब्दों को बनाए रखने के लिए प्रयास करते हैं, लेकिन नहीं। सबसे कम जटिलताओं के साथ मार्कअप के कम से कम राशि का उपयोग करें जब भी संभव है।</p>
  </div>
</div>

<div class="section" id="html-attribute-order">
  <div class="col">
    <h3>आदेश गुण</h3>
    <p>एचटीएमएल कोड विशेषताओं का आसानी से पढ़ने के लिए इस विशेष क्रम में आना चाहिए।</p>
    <ul>
      <li><code>class</code></li>
      <li><code>id</code>, <code>name</code></li>
      <li><code>data-*</code></li>
      <li><code>src</code>, <code>for</code>, <code>type</code>, <code>href</code>, <code>value</code></li>
      <li><code>title</code>, <code>alt</code></li>
      <li><code>role</code>, <code>aria-*</code></li>
    </ul>
    <p>शैक्षणिक महान पुन: प्रयोज्य घटकों के लिए करना है, तो वे सबसे पहले आते हैं। आईडी अधिक विशिष्ट होते हैं और (इन-पेज बुकमार्क्स के लिए जैसे,) संयम से इस्तेमाल किया जाना चाहिए, ताकि वे दूसरी आते हैं।</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/attribute-order.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-boolean-attributes">
  <div class="col">
    <h3>बूलियन गुण</h3>
    <p>एक बूलियन विशेषता है कि कोई घोषित मूल्य की जरूरत है। एक्सएचटीएमएल आप एक मूल्य की घोषणा करने के लिए आवश्यक है, लेकिन एचटीएमएल 5 ऐसी कोई आवश्यकता है।</p>
    <p>आगे पढ़ने के लिए, परामर्श  <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/common-microsyntaxes.html#boolean-attributes">बूलियन विशेषताओं पर WHATWG अनुभाग</a>:</p>
    <blockquote>
      <p>एक तत्व पर एक बूलियन विशेषता की उपस्थिति सही मूल्य का प्रतिनिधित्व करता है, और विशेषता के अभाव झूठी मूल्य का प्रतिनिधित्व करता है।</p>
    </blockquote>
    <p>आप तो  <em>चाहिए</em>  विशेषता के मूल्य में शामिल हैं, और <strong>आप को जरूरत नहीं है</strong>, इस WHATWG दिशानिर्देश का पालन करें:</p>
    <blockquote>
      <p>अगर विशेषता मौजूद है, इसकी कीमत या तो खाली स्ट्रिंग या [...] विशेषता के विहित नाम, कोई आगे या पीछे कोई खाली स्थान के साथ होना चाहिए।</p>
    </blockquote>
    <p><strong>संक्षेप में, एक मूल्य जोड़ नहीं है।</strong></p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/boolean-attributes.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-reducing-markup">
  <div class="col">
    <h3>मार्कअप को कम करना</h3>
    <p>जब भी संभव हो, जब HTML लेखन ज़रूरत से ज़्यादा माता पिता तत्वों से बचें। कई बार इस यात्रा और पुनर्रचना की आवश्यकता है, लेकिन कम एचटीएमएल पैदा करता है। निम्न उदाहरण लें:</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/reducing-markup.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-javascript">
  <div class="col">
    <h3>जावास्क्रिप्ट उत्पन्न मार्कअप</h3>
    <p>एक जावास्क्रिप्ट फ़ाइल में मार्कअप लेखन सामग्री कठिन खोजने के लिए, संपादित करने के लिए कठिन है, और कम performant बनाता है। यह करने से बचें जब भी संभव है।</p>
  </div>
</div>



<div class="heading" id="css">
  <h2>सीएसएस</h2>
</div>

<div class="section" id="css-syntax">
  <div class="col">
    <h3>वाक्य - विन्यास</h3>
    <ul>
      <li>दो स्थानों-वे कोड की गारंटी करने के लिए एक ही रास्ता के साथ नरम टैब का उपयोग किसी भी वातावरण में ही प्रदान करता है।</li>
      <li>जब चयनकर्ताओं समूहीकरण, एक भी लाइन के लिए अलग-अलग चयनकर्ताओं रहते हैं।</li>
      <li>स्पष्टता के लिए घोषणा ब्लॉक के उद्घाटन के गले से पहले एक अंतरिक्ष शामिल हैं।</li>
      <li>एक नई लाइन पर घोषणा ब्लॉक के तार लगवाने को बंद रखें।</li>
      <li>एक के बाद एक अंतरिक्ष शामिल <code>:</code> प्रत्येक घोषणा के लिए।</li>
      <li>प्रत्येक घोषणा और अधिक सटीक त्रुटि रिपोर्टिंग के लिए अपने स्वयं लाइन पर दिखाई देनी चाहिए।</li>
      <li>एक अर्द्ध पेट के साथ सभी घोषणाओं खत्म होता है। पिछले घोषणा की वैकल्पिक है, लेकिन अपने कोड और त्रुटि प्रवण है इसके बिना।</li>
      <li>अल्पविराम से अलग संपत्ति मूल्यों प्रत्येक अल्पविराम के बाद एक अंतरिक्ष (उदाहरण के लिए, शामिल होना चाहिए <code>box-shadow</code>).</li>
      <li>अल्पविराम के बाद रिक्त स्थान शामिल न करें <em>भीतर</em> <code>rgb()</code>, <code>rgba()</code>, <code>hsl()</code>, <code>hsla()</code>, या  <code>rect()</code> मूल्यों।यह कई संपत्ति मूल्यों (अंतरिक्ष के साथ अल्पविराम) से कई रंग मूल्यों (अल्पविराम, कोई स्पेस) के अंतर में मदद करता है।</li>
      <li>साथ संपत्ति मूल्यों या रंग मापदंडों उपसर्ग न एक अग्रणी शून्य (जैसे, <code>.5</code> के बजाय <code>0.5</code> और <code>-.5px</code> के बजाय  <code>-0.5px</code>).</li>
      <li>, सभी हेक्स मूल्यों, जैसे लोअरकेस  <code>#fff</code>. छोटे अक्षरों में ज्यादा है जब एक दस्तावेज़ स्कैनिंग के रूप में वे अधिक अद्वितीय आकार के हो जाते हैं विचार करने के लिए आसान कर रहे हैं।</li>
      <li>आशुलिपि हेक्स मूल्यों का प्रयोग करें जहां उपलब्ध है, जैसे, <code>#fff</code> बजाय <code>#ffffff</code>.</li>
      <li>भाव, चयनकर्ताओं, उदा में विशेषता मान <code>input[type="text"]</code>. <a href="http://mathiasbynens.be/notes/unquoted-attribute-values#css">वे कुछ मामलों में केवल वैकल्पिक रहे हैं</a> , और यह स्थिरता के लिए एक अच्छा अभ्यास है।</li>
      <li>, शून्य मान, उदाहरण के लिए इकाइयों को निर्दिष्ट करने से बचें <code>margin: 0;</code> बजाय <code>margin: 0px;</code>.</li>
    </ul>
    <p>शर्तों पर सवाल यहाँ इस्तेमाल किया है? देखें  <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets#Syntax">व्यापक स्टाइल शीट लेख के वाक्य रचना अनुभाग</a>  विकिपीडिया पर।</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/syntax.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-declaration-order">
  <div class="col">
    <h3>घोषणा के आदेश</h3>
    <p>संबंधित संपत्ति घोषणाओं के आदेश के बाद एक साथ बांटा जाना चाहिए:</p>
    <ol>
      <li>पोजिशनिंग</li>
      <li>बॉक्स मॉडल</li>
      <li>मुद्रण</li>
      <li>दृश्य</li>
    </ol>
    <p>क्योंकि यह दस्तावेज़ और ओवरराइड बॉक्स मॉडल संबंधित शैलियों के सामान्य प्रवाह से एक तत्व को दूर कर सकते पोजिशनिंग पहले आता है। बॉक्स मॉडल के रूप में यह एक घटक के आयाम और स्थान तय कर अगले आता है।</p>
    <p>बाकी सब कुछ जगह लेता है  <em>अंदर</em>  घटक या पिछले दो वर्गों को प्रभावित किए बिना, और इस तरह वे पिछले आते हैं।</p>
    <p>गुण और उनके आदेश की एक पूरी सूची के लिए, कृपया देखें  <a href="http://twitter.github.com/recess">अवकाश</a>.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/declaration-order.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-import">
  <div class="col">
    <h3><code>@import</code> का प्रयोग न करें</h3>
    <p><code>&lt;link&gt;</code> की तुलना में  <code>@import</code> धीमी है, अतिरिक्त पृष्ठ अनुरोधों कहते हैं, और अन्य अप्रत्याशित समस्याओं का कारण बन सकता है। उन्हें बचें और इसके बजाय एक वैकल्पिक दृष्टिकोण के लिए चुनते हैं:</p>
    <ul>
      <li>एकाधिक उपयोग के <code>&lt;link&gt;</code> तत्वों</li>
      <li>एक एकल फाइल में सास या उससे कम की तरह एक पूर्वप्रक्रमक के साथ अपने सीएसएस संकलित करें</li>
      <li>रेल, Jekyll में उपलब्ध कराई गई सुविधाओं, और अन्य वातावरण के साथ अपने सीएसएस फ़ाइलों को जुटना</li>
    </ul>
    <p>अधिक जानकारी के लिए, <a href="http://www.stevesouders.com/blog/2009/04/09/dont-use-import/">स्टीव  सोउदेर्स द्वारा इस लेख को पढ़ें!</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include css/import.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-media-queries">
  <div class="col">
    <h3>मीडिया क्वेरी के प्लेसमेंट</h3>
    <p>के रूप में अपने प्रासंगिक नियम के पास जगह मीडिया के प्रश्नों जब भी संभव सेट। उन सब को एक अलग शैली पत्रक में या दस्तावेज़ के अंत में बंडल मत करो। ऐसा करने से ही यह आसान लोग उन्हें भविष्य में याद करने के लिए बनाता है। यहाँ एक ठेठ सेटअप है।</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/media-queries.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-prefixed-properties">
  <div class="col">
    <h3>उपसर्ग के गुण</h3>
    <p>विक्रेता उपसर्ग गुण का उपयोग कर, प्रत्येक संपत्ति इंडेंट कि इस तरह की घोषणा के मूल्य लाइनें खड़ी आसान बहु लाइन संपादन के लिए।</p>
    <p>Textmate में उपयोग  <strong>Text &rarr; के चयन में प्रत्येक पंक्ति → संपादित पाठ</strong> (&#8963;&#8984;A). Sublime Text 2 का उपयोग <strong>चयन &rarr; पिछला लाइन को जोड़ने</strong> (&#8963;&#8679;&uarr;) और <strong>चयन &rarr;  अगली पंक्ति जोड़ें</strong> (&#8963;&#8679;&darr;).</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/prefixed-properties.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-single-declarations">
  <div class="col">
    <h3>एकल घोषणाओं</h3>
    <p>उदाहरण हैं जहां एक नियम सेट शामिल है में <strong>केवल एक घोषणा</strong> , पठनीयता और तेजी से संपादन के लिए लाइन टूट हटाने पर विचार करें। किसी भी नियम कई घोषणाओं के साथ सेट अलग लाइनों को विभाजित किया जाना चाहिए।</p>
    <p>यहां महत्वपूर्ण कारक त्रुटि का पता लगाने जैसे, एक सीएसएस सत्यापनकर्ता बताते हुए आप एक ही घोषणा के साथ लाइन 183 पर एक सिंटेक्स त्रुटि है, वहाँ यह याद आ रही कोई है। कई घोषणाओं के साथ, अलग लाइनों अपने विवेक के लिए बहुत जरूरी है।</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/single-declarations.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-shorthand">
  <div class="col">
    <h3>संक्षेप संकेतन</h3>
    <p>उदाहरण हैं जहां आप स्पष्ट सभी उपलब्ध मूल्यों को निर्धारित करने के लिए करना चाहिए आशुलिपि घोषणाओं के उपयोग को सीमित करने के लिए प्रयास करते हैं। आम overused आशुलिपि संपत्ति में शामिल हैं:</p>
    <ul>
      <li><code>padding</code></li>
      <li><code>margin</code></li>
      <li><code>font</code></li>
      <li><code>background</code></li>
      <li><code>border</code></li>
      <li><code>border-radius</code></li>
    </ul>
    <p>अक्सर कई बार हम सभी मूल्यों को एक आशुलिपि संपत्ति का प्रतिनिधित्व करता है स्थापित करने की जरूरत नहीं है। उदाहरण के लिए, एचटीएमएल शीर्षकों केवल ऊपर और नीचे मार्जिन सेट, इसलिए जब आवश्यक हो, तो केवल उन दो मूल्यों को भी पार। आशुलिपि गुण का ज्यादा इस्तेमाल अक्सर अनावश्यक ओवरराइड और अनायास ही साइड इफेक्ट के साथ sloppier कोड होता है।</p>
    <p>मोज़िला डेवलपर नेटवर्क पर एक बहुत अच्छा लेख है <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties">आशुलिपि गुण</a>  संकेतन और व्यवहार के साथ अपरिचित उन लोगों के लिए।</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/shorthand.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-nesting">
  <div class="col">
    <h3>LESS और SASS में नेस्टिंग</h3>
    <p>अनावश्यक नेस्टिंग से बचें। बस आप नेस्ट सकता है, क्योंकि इसका मतलब यह नहीं है कि आप हमेशा से करना चाहिए। नेस्टिंग पर विचार केवल यदि आप एक माता पिता के लिए और अगर वहाँ कई तत्वों नेस्ट जा रहे हैं गुंजाइश शैलियों चाहिए।</p>
    <p>अतिरिक्त पढ़ना:</p>
    <ul>
      <li><a href="http://markdotto.com/2015/07/20/css-nesting/">LESS और SASS में नेस्टिंग</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/nesting.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-operators">
  <div class="col">
    <h3>LESS और SASS में ऑपरेटर</h3>
    <p>सुधार पठनीयता के लिए, मूल्यों, चर, और ऑपरेटरों के बीच एक भी जगह के साथ कोष्ठकों में सभी गणित संचालन लपेटो।</p>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/operators.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-comments">
  <div class="col">
    <h3>टिप्पणियाँ</h3>
    <p>कोड लिखा और लोगों द्वारा बनाए रखा है। सुनिश्चित करें कि आपका कोड वर्णनात्मक, अच्छी तरह से टिप्पणी की, और दूसरों के द्वारा पहुंचा जा सकता है। महान कोड टिप्पणियों के संदर्भ या उद्देश्य व्यक्त करते हैं। बस एक घटक या वर्ग के नाम को दोहराना नहीं है।</p>
    <p>बड़ा टिप्पणियों और सामान्य नोट्स के लिए संक्षिप्त वाक्यांशों के लिए पूरा वाक्य में लिखने के लिए सुनिश्चित करें। </p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-classes">
  <div class="col">
    <h3>क्लास का नाम</h3>
    <ul>
      <li>लोअरकेस वर्गों और उपयोग डैश (न रेखांकित या CamelCase) रखें। डैश संबंधित वर्ग में के रूप में प्राकृतिक टूटता की सेवा (जैसे,  <code>.btn</code> और <code>.btn-danger</code>).</li>
      <li>अत्यधिक और मनमाने ढंग से आशुलिपि संकेतन से बचें। <code>.btn</code> के लिए उपयोगी है <em>button</em>, लेकिन <code>.s</code> कुछ भी मतलब नहीं है।</li>
      <li>कक्षाओं के रूप में कम और संभव के रूप में संक्षिप्त रखें।</li>
      <li>सार्थक नाम का उपयोग करें; प्रस्तुतिकरण से अधिक संरचनात्मक या उद्देश्यपूर्ण नामों का उपयोग करें।</li>
      <li>निकटतम माता-पिता या आधार वर्ग के आधार पर उपसर्ग क्लासेस।</li>
      <li><code>.js-*</code> का प्रयोग करें  (के रूप में शैली के खिलाफ) व्यवहार निरूपित करने के लिए कक्षाएं, लेकिन इन वर्गों के अपने सीएसएस से बाहर रखने के लिए।</li>
    </ul>
    <p>यह भी SASS और LESS चर नाम बनाते समय ही इन नियमों के कई लागू करने के लिए उपयोगी है।</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/class-names.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-selectors">
  <div class="col">
    <h3>चयनकर्ताओं</h3>
    <ul>
      <li>इष्टतम प्रतिपादन प्रदर्शन के लिए सामान्य तत्व टैग पर कक्षाओं का प्रयोग करें।</li>
      <li>कई विशेषता चयनकर्ताओं (जैसे, प्रयोग करने से बचें <code>[class^="..."]</code>) आमतौर पर होने वाली घटकों पर)। ब्राउज़र प्रदर्शन इन से प्रभावित हो जाता है।</li>
      <li>चयनकर्ताओं कम रखें और तीन के लिए प्रत्येक चयनकर्ता में तत्वों की संख्या को सीमित करने का प्रयास करते हैं।</li>
      <li>निकटतम माता पिता के लिए स्कोप कक्षाओं <strong>केवल</strong>  जब आवश्यक (जैसे, जब उपसर्ग वर्गों का प्रयोग नहीं)।</li>
    </ul>
    <p>अतिरिक्त पढ़ना:</p>
    <ul>
      <li><a href="http://markdotto.com/2012/02/16/scope-css-classes-with-prefixes/">उपसर्गों के साथ गुंजाइश सीएसएस वर्गों</a></li>
      <li><a href="http://markdotto.com/2012/03/02/stop-the-cascade/">कास्केड को बंद करो</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/selectors.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-organization">
  <div class="col">
    <h3>संगठन</h3>
    <ul>
      <li>घटक द्वारा कोड के वर्गों को व्यवस्थित करें।</li>
      <li>एक सुसंगत टिप्पणी पदानुक्रम का विकास करना।</li>
      <li>जब बड़े दस्तावेजों को स्कैन करने के लिए कोड के वर्गों को अलग करने के अपने लाभ के लिए लगातार सफेद स्थान का प्रयोग करें।</li>
      <li>जब एकाधिक सीएसएस फ़ाइलों का उपयोग कर, उन्हें बजाय घटक पेज से टूट। पेज पुन: व्यवस्थित किया जा सकता और घटकों ले जाया गया।</li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/organization-comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-editor-prefs">
  <div class="col">
    <h3>संपादक प्राथमिकताएँ</h3>
    <p>आम कोड विसंगतियों और गंदा diffs से बचने के लिए निम्नलिखित सेटिंग्स करने के लिए अपने संपादक सेट:</p>
    <ul>
      <li>soft-tabs को दो रिक्त स्थान के लिए सेट करें।</li>
      <li>बचाने पर सफेद स्थान अनुगामी ट्रिम।</li>
      <li>UTF-8 एन्कोडिंग सेट करें।</li>
      <li>फाइलों के अंत में नई लाइन जोड़ें।</li>
    </ul>
    <p>दस्तावेजीकरण और अपनी परियोजना के लिए इन वरीयताओं को लागू करने पर विचार <code>.editorconfig</code> फ़ाइल। एक उदाहरण के लिए, देखें  <a href="https://github.com/twbs/bootstrap/blob/master/.editorconfig">बूटस्ट्रैप में एक</a>. और जानें <a href="http://editorconfig.org">EditorConfig के बारे में</a>.</p>
  </div>
</div>
