---
layout: default
---


<div class="heading" id="toc">
  <h2>Tabla de contenidos</h2>
</div>
<div class="section toc">
  <div class="col">
    <h4><a href="#html">HTML</a></h4>
    <ul>
      <li><a href="#html-syntax">Sintaxis HTML</a></li>
      <li><a href="#html-doctype">Doctype HTML5</a></li>
      <li><a href="#html-lang">Atributo de idioma</a></li>
      <li><a href="#html-encoding">Codificación de caracteres</a></li>
      <li><a href="#html-ie-compatibility-mode">Modo de compatibilidad con Internet Explorer</a></li>
      <li><a href="#html-style-script">Inserción de CSS and JavaScript</a></li>
      <li><a href="#html-practicality">Practicidad sobre pureza</a></li>
      <li><a href="#html-attribute-order">Orden de los atributos</a></li>
      <li><a href="#html-boolean-attributes">Atributos booleanos</a></li>
      <li><a href="#html-reducing-markup">Reducción del marcado</a></li>
      <li><a href="#html-javascript">Marcado generado por JavaScript</a></li>
    </ul>
  </div>
  <div class="col">
    <h4><a href="#css">CSS</a></h4>
    <ul>
      <li><a href="#css-syntax">Sintaxis CSS</a></li>
      <li><a href="#css-declaration-order">Orden de las declaraciones</a></li>
      <li><a href="#css-import">No usar @import</a></li>
      <li><a href="#css-media-queries">Ubicación de las media queries</a></li>
      <li><a href="#css-prefixed-properties">Propiedades con prefijos</a></li>
      <li><a href="#css-single-declarations">Reglas con una sola declaración</a></li>
      <li><a href="#css-shorthand">Notación abreviada</a></li>
      <li><a href="#css-nesting">Anidación en Less y Sass</a></li>
      <li><a href="#css-operators">Operadores en Less y Sass</a></li>
      <li><a href="#css-comments">Comentarios</a></li>
      <li><a href="#css-classes">Clases</a></li>
      <li><a href="#css-selectors">Selectores</a></li>
      <li><a href="#css-organization">Organización</a></li>
    </ul>
  </div>
</div>


<div class="section" id="golden-rule">
  <div class="col">
    <h2>Regla de oro</h2>
    <p>Aplique éstas, o sus propias directrices, pero asegúrese de seguirlas en todo momento. Debe corregirse tanto la violación de las reglas menores como de las de mayor importancia. Para cualquier adición o contribución, por favor<a href="https://github.com/mdo/code-guide/issues/new">abra una issue en Github.</a>.</p>
  </div>
  <div class="col">
    <blockquote>
      <p>Cada línea de código debería parecer escrita por una única persona, independientemente del número de colaboradores.</p>
    </blockquote>
  </div>
</div>



<div class="heading" id="html">
  <h2>HTML</h2>
</div>

<div class="section" id="html-syntax">
  <div class="col">
    <h3>Sintaxis HTML</h3>
    <ul>
      <li>Use indentaciones de dos espacios. Los espacios son la única forma de garantizar que el código se renderice del mismo modo en cualquier entorno.</li>
      <li>Los elementos anidados deberían tener un solo nivel de indentación (dos espacios).</li>
      <li>En atributos, utilice siempre comillas dobles, nunca comillas simples.</li>
      <li>No incluya una barra inclinada al final de los elementos de autocierre, la <a href="http://dev.w3.org/html5/spec-author-view/syntax.html#syntax-start-tag">especificación de HTML5</a> indica que son opcionales.</li>
      <li>No omita etiquetas de cierre opcionales <code>&lt;/li&gt;</code> or <code>&lt;/body&gt;</code>).</li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/syntax.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-doctype">
  <div class="col">
    <h3>Doctype HTML5</h3>
    <p>Forzar el modo estándar y por lo tanto un renderizado más consistente en todos los navegadores es posible con este simple doctype al principio de cada página HTML.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/doctype.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-lang">
  <div class="col">
    <h3>Atributo de idioma</h3>
    <p>Extraído de la especificación de HTML5:</p>
    <blockquote>
      <p>Se recomienda a los autores que especifiquen un atributo de idioma (lang) en el elemento html raíz, con el fin de dar un idioma al documento. Esto ayuda a las herramientas de síntesis de voz a determinar qué pronunciación utilizar, a las herramientas de traducción a determinar qué relgas utilizar, etcétera.</p>
    </blockquote>
    <p>Lea más acerca del atributo <code>lang</code> en la especificación <a href="http://www.w3.org/html/wg/drafts/html/master/semantics.html#the-html-element"></a>.</p>
    <p>Diríjase a Sitepoint para ver el <a href="http://reference.sitepoint.com/html/lang-codes">listado de códigos de idioma</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/lang.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-ie-compatibility-mode">
  <div class="col">
    <h3>Modo de compatibilidad de IE</h3>
    <p>Internet Explorer admite el uso de una etiqueta de compatibilidad <code>&lt;meta&gt;</code> para especificar en qué versión de IE se debe renderizar la página. Excepto en casos excepcionales, es más recomendable indicar a IE que utilice el último modo de renderizado compatible con el <strong>modo edge</strong>.</p>
    <p>Para más información, <a href="http://stackoverflow.com/questions/6771258/whats-the-difference-if-meta-http-equiv-x-ua-compatible-content-ie-edge-e">lea este magnífico artículo de Stack Overflow</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/ie-compatibility-mode.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-encoding">
  <div class="col">
    <h3>Codificación de caracteres</h3>
    <p>Garantice de una forma rápida y sencilla el correcto renderizado de su contenido mediante la declaración explícita de la codificación de caracteres. Al hacerlo, puede evitar el uso de entidades HTML, siempre que su codificación de caracteres coincida con la del documento (generalmente UTF-8).</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/encoding.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-style-script">
  <div class="col">
    <h3>Inserciones de CSS y JavaScript</h3>
    <p>Según la especificación de HTML5, no es necesario especificar un <code>type</code> cuando incluimos archivos CSS y JavaScript como <code>text/css</code> y <code>text/javascript</code> ya que son sus respectivos valores por defecto.</p>
    <h4>Enlaces a la especificación de HTML5</h4>
    <ul>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-link-element">Uso de link</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-style-element">Uso de style</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/scripting-1.html#the-script-element">Uso de script</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/style-script.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-practicality">
  <div class="col">
    <h3>Practicidad sobre pureza</h3>
    <p>Esfuércese por mantener los estándares y la semántica HTML, pero no a expensas de la practicidad. Utilice la menor cantidad de marcado con la menor complejidad, siempre que sea posible.</p>
  </div>
</div>

<div class="section" id="html-attribute-order">
  <div class="col">
    <h3>Orden de los atributos</h3>
    <p>Los atributos HTML deberían venir en este orden específico con el fin de facilitar la lectura del código.</p>
    <ul>
      <li><code>class</code></li>
      <li><code>id</code>, <code>name</code></li>
      <li><code>data-*</code></li>
      <li><code>src</code>, <code>for</code>, <code>type</code>, <code>href</code>, <code>value</code></li>
      <li><code>title</code>, <code>alt</code></li>
      <li><code>role</code>, <code>aria-*</code></li>
    </ul>
    <p>Las clases hechas para grandes componentes reutilizables, irían primero. Los ids son más específicos y deberían ser utilizados con moderación (por ejemplo, para enlaces internos de la página), por lo tanto irían en segundo lugar.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/attribute-order.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-boolean-attributes">
  <div class="col">
    <h3>Atributos booleanos</h3>
    <p>Un atributo booleano es aquel que no necesita ningún valor declarado. XHTML requería la declaración de un valor, pero HTML5 no incluye este requerimiento.</p>
    <p>Para más información, consulte en WhatWG <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/common-microsyntaxes.html#boolean-attributes">la sección sobre atributos booleanos</a>:</p>
    <blockquote>
      <p>La presencia de un atributo booleano en un elemento representa el valor true, y la ausencia del atributo representa el valor false.</p>
    </blockquote>
    <p>Si <em>debe</em> incluir el valor del atributo, pero <strong>no lo necesita</strong>, siga esta directriz de WhatWG:</p>
    <blockquote>
      <p>Si el atributo está presente, su valor debe ser una cadena vacía o [...] el nombre canónico del atributo, sin espacio en blanco al principio, ni al final.</p>
    </blockquote>
    <p><strong>En resumen, no añada ningún valor.</strong></p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/boolean-attributes.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-reducing-markup">
  <div class="col">
    <h3>Reducción del marcado</h3>
    <p>En la medida de lo posible, evite elementos padre superfluos al escribir HTML. A menudo, esto requiere múltiples pasos y refactorización, pero produce menos HTML. Tomemos el siguiente ejemplo:</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/reducing-markup.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-javascript">
  <div class="col">
    <h3>Marcado generado por JavaScript</h3>
    <p>La escritura del marcado en un archivo JavaScript hace el que el contenido sea más difícil de encontrar, más difícil de editar y menos eficiente. Evítelo siempre que sea posible.</p>
  </div>
</div>



<div class="heading" id="css">
  <h2>CSS</h2>
</div>

<div class="section" id="css-syntax">
  <div class="col">
    <h3>Sintaxis CSS</h3>
    <ul>
      <li>Utilice indentaciones de dos espacios, ya que son el único modo de garantizar que el código se renderice de igual modo en todos los entornos.</li>
      <li>Cuando agrupe selectores, deje cada selector en su propia línea.</li>
      <li>Agregue un espacio antes de la llave de apertura de los bloques de declaración para mejorar la legibilidad.</li>
      <li>Coloque las llaves de cierre de los bloques de declaración en una nueva línea.</li>
      <li>Agregue un espacio después de <code>:</code> en cada declaración.</li>
      <li>Cada declaración debería aparecer en su propia línea para favorecer un reporte de errores más preciso.</li>
      <li>Finalice todas las declaraciones con un punto y coma. En la última declaración es opcional, pero su código será más propenso a errores si lo eliminamos.</li>
      <li>Los valores de propiedad separados por comas, deberían incluir un espacio después de cada coma (p.ej., <code>box-shadow</code>).</li>
      <li>No agregue un espacio después de las comas <em>dentro</em> de los valores <code>rgb()</code>, <code>rgba()</code>, <code>hsl()</code>, <code>hsla()</code>, o <code>rect()</code>. Esto ayuda a diferenciar múltiples valores de color (coma, sin espacio) de múltiples valores de propiedad (coma, con espacio).</li>
      <li>No prefije valores de propiedad o parámetros de color con un cero a la izquierda (p.ej., <code>.5</code> en vez de <code>0.5</code> y <code>-.5px</code> en vez de <code>-0.5px</code>).</li>
      <li>Escriba en minúsculas todos los valores hexadecimales, p.ej., <code>#fff</code>. Las letras minúsculas son mucho más fáciles de percibir cuando escaneamos visualmente un documento, ya que tienen formas únicas.</li>
      <li>Utilice valores hexadecimales abreviados, siempre que sea posible, p.ej., <code>#fff</code> instead of <code>#ffffff</code>.</li>
      <li>Evite especificar unidades cuando el valor es cero, p.ej., <code>margin: 0;</code> en lugar de <code>margin: 0px;</code>.</li>
    </ul>
    <p>¿Preguntas sobre los términos utilizados aquí? Consulte la <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets#Syntax">sección sobre sintaxis del artículo sobre Hojas de Estilo en Cascada en</a> Wikipedia.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/syntax.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-declaration-order">
  <div class="col">
    <h3>Orden de las declaraciones</h3>
    <p>Las declaraciones de propiedades relacionadas deberían agruparse siguiendo el siguiente orden:</p>
    <p></p>
    <ol>
      <li>Posicionamiento</li>
      <li>Modelo de caja</li>
      <li>Tipografía</li>
      <li>Visual</li>
    </ol>
    <p>El posicionamiento iría primero porque puede eliminar un elemento del flujo normal del documento y sobreescribir los estilos relacionados al modelo de caja. El modelo de caja iría después, ya que dicta las dimensiones y la ubicación de un componente.</p>
    <p>Todo lo demás, que sucede <em>dentro</em> del componente o sin afectar a las dos secciones anteriores, iría después.</p>
    <p>Para ver la lista completa de propiedades y su orden, por favor consulte <a href="http://twitter.github.com/recess">Recess</a>.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/declaration-order.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-import">
  <div class="col">
    <h3>No utilice <code>@import</code></h3>
    <p>En comparación con <code>&lt;link&gt;</code>s, <code>@import</code> es más lento, añade nuevas peticiones a la página, y puede causar otros problemas imprevistos. Evítelos y opte en su lugar por un enfoque alternativo:</p>
    <ul>
      <li>Utilice múltiples elementos <code>&lt;link&gt;</code></li>
      <li>Compile su CSS con un preprocesador como Sass o Less en un único archivo.</li>
      <li>Concatene sus archivos CSS con funcionalidades proporcionadas por Rails, Jekyll u otros entornos</li>
    </ul>
    <p>Para más información, <a href="http://www.stevesouders.com/blog/2009/04/09/dont-use-import/">lea este artículo de Steve Souders</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include css/import.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-media-queries">
  <div class="col">
    <h3>Ubicación de las media queries</h3>
    <p>Sitúe las media queries lo más cerca posible de sus respectivos conjuntos de reglas. No las agrupe todas en una hoja de estilos separada o al final del documento. Hacerlo así, sólo hace más fácil perderlas en un futuro. Aquí una configuración típica:</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/media-queries.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-prefixed-properties">
  <div class="col">
    <h3>Propiedades con prefijo</h3>
    <p>Cuando utilice propiedades con prefijo, indente cada propiedad de forma que los valores de la declaración queden alineados verticalmente para facilitar la edición multilínea.</p>
    <p>En Textmate, utilice <strong>Text &rarr; Edit Each Line in Selection</strong> (&#8963;&#8984;A). En Sublime Text 2, utilice <strong>Selection &rarr; Add Previous Line</strong> (&#8963;&#8679;&uarr;) y <strong>Selection &rarr;  Add Next Line</strong> (&#8963;&#8679;&darr;).</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/prefixed-properties.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-single-declarations">
  <div class="col">
    <h3>Reglas con una sola declaración</h3>
    <p>En aquellos casos en los que una reglas contenga <strong>solo una declaración</strong>, considere la posibilidad de eliminar los saltos de línea para facilitar la lectura y edición. Los conjuntos de reglas con múltiples declaraciones deberían dividirse en varias líneas separadas.</p>
    <p>Lo importante aquí es la detección de errores—p.ej., un validador de CSS que le dice que tiene un error de sintaxis en la línea 183. Con una sola declaración, no puede haber confusión. Con múltiples declaraciones, mantenerlas en líneas separadas es necesario para su cordura.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/single-declarations.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-shorthand">
  <div class="col">
    <h3>Notación abreviada</h3>
    <p>Procure limitar el uso de declaraciones abreviadas a aquellos casos en los que necesite setear explícitamente todos los valores disponibles. Las propiedades donde más se suele abusar de la notación abreviada son:</p>
    <ul>
      <li><code>padding</code></li>
      <li><code>margin</code></li>
      <li><code>font</code></li>
      <li><code>background</code></li>
      <li><code>border</code></li>
      <li><code>border-radius</code></li>
    </ul>
    <p>La mayor parte de las veces no necesitamos especificar todos los valores que representa una propiedad abreviada. Por ejemplo, los encabezados HTML solo definen los márgenes superior e inferior, de manera que cuando es necesario, solo se sobreescriben esos dos valores. El uso excesivo de notación abreviada conduce con frecuencia hacia un código más descuidado con sobreescrituras innecesarias y efectos secundarios no deseados.</p>
    <p>La Mozilla Developer Network tiene un gran artículo acerca de las <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties">propiedades abreviadas</a> para aquellos que no esté familiarizados con su sintaxis y comportamiento.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/shorthand.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-nesting">
  <div class="col">
    <h3>Anidación en Less y Sass</h3>
    <p>Evite la anidación innecesaria. El hecho de que puedas anidar, no significa que debas hacerlo. Considere la posibilidad de anidar solo si debe restringir los estilos al contexto del padre y hay múltiples elementos a ser anidados.</p>
    <p>Lectura adicional:</p>
    <ul>
      <li><a href="http://markdotto.com/2015/07/20/css-nesting/">Anidación en Sass y Less</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/nesting.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-operators">
  <div class="col">
    <h3>Operadores en Less y Sass</h3>
    <p>Para mejorar la legibilidad, envuelva todas las operaciones matemáticas entre paréntesis con un solo espacio entre valores, variables y operadores.</p>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/operators.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-comments">
  <div class="col">
    <h3>Comentarios</h3>
    <p>El código es escrito y mantenido por personas. Asegúrese de que su código sea descriptivo, esté bien comentado y sea comprensible para los demás. Los buenos comentarios de código proporcionan contexto o propósito. No se limite a repitir simplemente un nombre de clase o componente.</p>
    <p>Asegúrese de utilizar frases completas para comentarios largos y frases concisas para notas generales.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-classes">
  <div class="col">
    <h3>Nombres de clases</h3>
    <ul>
      <li>Mantenga las clases en minúsculas y utilice guiones (no guión bajo o camelCase). Los guiones son separadores naturales en clases del mismo (p.ej., <code>.btn</code> and <code>.btn-danger</code>).</li>
      <li>Evite la excesiva y arbitraria notación abreviada. <code>.btn</code> es útil para <em>button</em>, pero <code>.s</code> no significa nada.</li>
      <li>Mantenga las clases lo más cortas y concisas posibles.</li>
      <li>Utilice nombres descriptivos; elija nombres que hagan referencia a la estructura o al propósito en lugar de a la presentación.</li>
      <li>Utilice el prefijo<code>.js-*</code> en aquellas clases que denoten comportamiento (en lugar de estilo), pero mantenga estas clases fuera de su CSS.</li>
    </ul>
    <p>Es útil también aplicar muchas de estas reglas para la creación de nombres de variables en Sass y Less.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/class-names.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-selectors">
  <div class="col">
    <h3>Selectores</h3>
    <ul>
      <li>Utilice clases en lugar de las etiquetas genéricas de los elementos para optimizar el rendimiento.</li>
      <li>Evite utilizar atributos de selector múltiple (p.ej., <code>[class^="..."]</code>) en elementos que aparecen a menudo en la página. El rendimiento del navegador se ve afectado por estos selectores.</li>
      <li>Mantenga los selectores cortos y procure limitar el número de elementos dentro de cada selector a tres.</li>
      <li>Enmarque las clases dentro del pariente más cercano <strong>solo</strong> cuando sea necesario (p.ej., cuando no utilice clases con prefijo).</li>
    </ul>
    <p>Lectura adicional:</p>
    <ul>
      <li><a href="http://markdotto.com/2012/02/16/scope-css-classes-with-prefixes/">Contexto de las clases CSS con prefijo</a></li>
      <li><a href="http://markdotto.com/2012/03/02/stop-the-cascade/">Pare la cascada</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/selectors.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-organization">
  <div class="col">
    <h3>Organización</h3>
    <ul>
      <li>Organice las secciones de código por componente.</li>
      <li>Desarrolle una jerarquía de comentarios consistente.</li>
      <li>Utilice los espacios en blanco de forma consistente de modo que le permita separar secciones de código que faciliten su visualización en grandes documentos.</li>
      <li>Cuando utilice varios archivos CSS, sepárelos por componente en lugar de por página. Las páginas pueden variar, y los componentes son más flexibles.</li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/organization-comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-editor-prefs">
  <div class="col">
    <h3>Preferencias del editor</h3>
    <p>Configure su editor con los siguientes ajustes para evitar incoherencias comunes en el código y falsos 'diffs':</p>
    <ul>
      <li>Utilice una indentación basada en dos espacios.</li>
      <li>Elimine los espacios en blanco al final de la línea al guardar.</li>
      <li>Defina el encoding a UTF-8.</li>
      <li>Agregue un salto de línea al final de los archivos.</li>
    </ul>
    <p>Considere documentar y aplicar estas preferencias en el archivo <code>.editorconfig</code> de su proyecto. Vea, por ejemplo el de <a href="https://github.com/twbs/bootstrap/blob/master/.editorconfig">Bootstrap</a>. Obtenga más información <a href="http://editorconfig.org">sobre el EditorConfig</a>.</p>
  </div>
</div>
