body {
  margin: 0;
  padding: 3rem;
  font: 16px/1.5 "Droid Sans", sans-serif;
  color: #5a5a5a;
}

a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
  color: #3a3a3a;
}
h1 {
  font-size: 4rem;
}
h2 {
  margin-top: 2rem;
  font-size: 2.25rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

p {
  margin: 1rem 0;
}
.lead {
  font-size: 1.5rem;
}

strong {
  font-weight: normal;
}


code, pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  border-radius: 3px;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre {
  display: block;
  margin: 0 0 1rem;
  line-height: 2rem;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}
.highlight {
  margin: 0 -1rem 1rem;
  padding: 1rem;
  border-radius: 5px;
}
.highlight pre {
  margin-bottom: 0;
}


hr {
  position: relative;
  margin: 4rem 0;
  border: 0;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #fff;
}
hr:after {
  position: absolute;
  top: -1rem;
  left: 50%;
  display: block;
  width: 6rem;
  padding: 0 1rem;
  margin-left: -4rem;
  content: "# # #";
  font-size: 1.5rem;
  color: #ccc;
  text-align: center;
  background-color: #fff;
}


.container {
  max-width: 700px;
  margin: 0 auto;
}

.masthead {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.footer {
  font-size: .75rem;
  text-align: center;
}

.quick-links {
  list-style: none;
  margin-left: 0;
}
.quick-links li {
  display: inline;
}
