body {
  margin: 0;
  padding: 30px;
  font: 14px/1.5 "Menlo", monospace;
  color: #5a5a5a;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

code, pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 15px;
  border-radius: 3px;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre {
  display: block;
  margin: 0 0 14px;
  font-size: 14px;
  line-height: 28px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}
.highlight {
  margin-bottom: 14px;
  padding: 14px;
  border-radius: 5px;
}
.highlight pre {
  margin-bottom: 0;
}

.container {
  max-width: 760px;
  margin: 0 auto;
}