@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?74318141');
  src: url('../font/fontello.eot?74318141#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?74318141') format('woff'),
       url('../font/fontello.ttf?74318141') format('truetype'),
       url('../font/fontello.svg?74318141#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}

.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
