<footer class="footer">
  <p>&lt;3</p>
  <p>This is a fork from @mdo code-guide with many modifications from AG2Nurun team.</p>

  <ul class="quick-links">
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mdanemberg&repo=code-guide&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mdanemberg&repo=code-guide&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
    </li>
  </ul>
</footer>
