<footer class="footer">
  <p>
    Open sourced by <a href="https://twitter.com/mdo">@mdo</a> under MIT license.  Copyright {{ site.time | date: '%Y' }}.
  </p>

  <ul class="quick-links">
    <li>
      <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=mdo&repo=code-guide&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=mdo&repo=code-guide&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
    </li>
  </ul>

  <ul class="quick-links">
    <li class="follow-btn">
      <a href="https://twitter.com/mdo" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @mdo</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}" data-count="horizontal" data-via="mdo">Tweet</a>
    </li>
  </ul>
</footer>
