<footer class="footer">
  <p>&lt;3</p>
  <p>भारी से प्रेरित <a href="https://github.com/necolas/idiomatic-css">Idiomatic सीएसएस </a> और <a href="http://github.com/styleguide">GitHub Styleguide</a>. द्वारा दुनिया में सभी प्यार के साथ बनाया <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p> एमआईटी ओपन सोर्सड के तहत {{ site.time | date: '%Y' }} <a href="https://twitter.com/mdo">@mdo</a>. 
      <a href="https://github.com/hidaytrahman">hidaytrahman</a> द्वारा  हिंदी में अनुवाद, हिंदी अनुवाद देखें 
    <a href="https://github.com/hidaytrahman/code-guide">Github रिपॉजिटरी</a></p>

  <ul class="quick-links">
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mdo&repo=code-guide&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mdo&repo=code-guide&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
    </li>
  </ul>
  <ul class="quick-links">
    <li class="follow-btn">
      <a href="https://twitter.com/mdo" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @mdo</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}" data-count="horizontal" data-via="mdo">Tweet</a>
    </li>
  </ul>
</footer>
