<header class="cg-masthead">
  <div class="container">
    <img class="cg-icon" src="code-guide-logo.png" alt="Code Guide logo">
    <h1 class="cg-masthead-title">
      Code Guide
    </h1>
    <p class="cg-masthead-subtitle">
      {{ site.description }}
    </p>
    <p>
      Created by <a href="https://markdotto.com">@mdo</a> &middot; v{{ site.version }} &middot; <a href="https://github.com/mdo/code-guide/">GitHub repo</a>
    </p>

    <script async src="//cdn.carbonads.com/carbon.js?serve=CKYI52JU&placement=codeguide" id="_carbonads_js"></script>
  </div>
</header>
