<header class="masthead">
  <div class="container">
    <span class="icon">&#9997;</span>
    <h1>{{ site.name }}</h1>
    <p class="lead">{{ site.description }}</p>

    <p class="masthead-links">
      <a href="https://github.com/mdo/code-guide">
        <span class="icon icon-github-circled"></span>
      </a>
      <a href="https://twitter.com/mdo">
        <span class="icon icon-twitter"></span>
      </a>
    </p>

    <script type="text/javascript" src="//cdn.fusionads.net/fusion.js?zoneid=1332&serve=C6SDP2Y&placement=codeguide" id="_fusionads_js"></script>
  </div>
</header>
