//
// Global
//

:root {
  --red: #f03e3e;
  --pink: #d6336c;
  --purple: #7048e8;
  --blue: #1c7ed6;
  --indigo: #4263eb;
  --cyan: #1098ad;
  --gray: #212529;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;

  @media (min-width: 48em) {
    font-size: 18px;
  }
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  color: #212529;
}

a {
  color: var(--blue);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4 {
  margin: 0 0 .5rem;
  font-weight: 600;
  line-height: 1;
  color: #2a2a2a;
}
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem }

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

blockquote {
  position: relative;
  margin: 0 1rem 1rem;
  font-style: italic;
  color: #7a7a7a;

  p {
    margin-bottom: 0;
  }
}

li {
  margin-bottom: .25rem;
}

p:last-child,
ul:last-child,
blockquote:last-child {
  margin-bottom: 0;
}


//
// Code
//

code,
pre {
  font-family: "SFMono-Regular", Menlo, "Courier New", monospace;
  font-size: 95%;
}
code {
  padding: 2px 4px;
  font-size: 85%;
  color: #d44950;
  background-color: #f7f7f9;
  border-radius: .2rem;
}

pre {
  display: block;
  margin: 0 0 1rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;

  code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
  }
}

.highlight {
  margin: 0;

  pre {
    margin-bottom: 0;
  }

  & + .highlight {
    margin-top: 1rem;
  }
}


//
// Masthead
//

.cg-icon {
  display: block;
  width: 20vw;
  height: 20vw;
  margin-bottom: 1.5rem;
  border: solid currentColor;
  border-width: 1vw 1vw 1vw 10vw;

  @media (min-width: 64em) {
    float: right;
  }
}

.cg-masthead {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  color: #fff;
  background-color: var(--blue);

  @media (min-width: 60em) {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 6rem;
  }
}

.cg-masthead-title {
  margin-bottom: 1.5rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: .9;
  color: inherit;

  @media (min-width: 48em) {
    font-size: 6rem;
  }

  @media (min-width: 60em) {
    font-size: 7rem;
  }
}

.cg-masthead-subtitle {
  margin-bottom: 1.5rem;
  max-width: 40rem;
  font-size: 1.5rem;
  line-height: 1.25;

  @media (min-width: 48em) {
    font-size: 2rem;
  }
}

.masthead-links {
  font-size: 2rem;

  a {
    color: #fff;
    text-decoration: none;
  }

  svg {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
  }
}


//
// Content
//

.container {
  max-width: 80em;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 48em) {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}


//
// The Grid
//

.section {
  margin-bottom: 3rem;
}

.col {
  margin-bottom: 1.5rem;
}
.col p {
  max-width: 40rem;
}
.col + .col {
  padding: 2rem;
  background-color: #f8f9fa;
}
@media (min-width: 48em) {
  .section {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .col {
    display: table-cell;
    padding: 3rem 3rem 3rem 0;
    vertical-align: top;
  }
  .col + .col {
    border-top: 0;
    padding: 3rem;
  }
}

// Make the ToC a whole section
.toc .col + .col {
  padding: 0;
  background-color: #fff;
}


//
// Sections
//

h2 {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  border-top: .125rem solid;
}


//
// Footer
//

.footer {
  padding: 3rem 1rem;
  font-size: 90%;
  text-align: center;
}
.footer p {
  margin-bottom: .5rem;
}

.quick-links {
  list-style: none;
  margin-left: 0;
}
.quick-links li {
  display: inline;
}
