//
// Global
//

:root {
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;

  --blue-300: #6ea8fe;
  --blue-700: #084298;

  --body-bg: #fff;
  --body-color: #212529;
  --accent-bg: #f8f9fa;
  --link-color: var(--blue);
  --masthead-bg: var(--blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #212529;
    --body-color: #dee2e6;
    --accent-bg: #2a2f34;
    --link-color: var(--blue-300);
    --masthead-bg: var(--blue-700);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  color: var(--body-color);
  background-color: var(--body-bg);
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1;
}
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem }

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

blockquote {
  position: relative;
  margin: 0 1rem 1rem;
  font-style: italic;
  color: #7a7a7a;

  p {
    margin-bottom: 0;
  }
}

li {
  margin-bottom: .25rem;
}

p:last-child,
ul:last-child,
blockquote:last-child {
  margin-bottom: 0;
}


//
// Code
//

code,
pre {
  font-family: "SFMono-Regular", Menlo, "Courier New", monospace;
  font-size: 95%;
}
code {
  padding: .125em .25em;
  font-size: 85%;
  color: #d44950;
  background-color: var(--accent-bg);
  border-radius: .2rem;
}

pre {
  display: block;
  margin: 0 0 1rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;

  code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
  }
}

.highlight {
  margin: 0;

  pre {
    margin-bottom: 0;
  }

  & + .highlight {
    margin-top: 1rem;
  }
}


//
// Masthead
//

.cg-icon {
  display: block;
  width: 20vw;
  height: 20vw;
  margin-bottom: 1.5rem;
  border: solid currentColor;
  border-width: 1vw 1vw 1vw 10vw;

  @media (min-width: 64em) {
    float: right;
  }
}

.cg-masthead {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  color: #fff;
  background-color: var(--masthead-bg);

  @media (min-width: 960px) {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 6rem;
  }
}

.cg-masthead-title {
  margin-bottom: 1.5rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: .9;
  color: inherit;

  @media (min-width: 768px) {
    font-size: 6rem;
  }

  @media (min-width: 960px) {
    font-size: 7rem;
  }
}

.cg-masthead-subtitle {
  max-width: 40rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.25;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.masthead-links {
  font-size: 2rem;

  a {
    color: #fff;
    text-decoration: none;
  }

  svg {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
  }
}


//
// Content
//

.container {
  max-width: 80em;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px) {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}


//
// The Grid
//

.section {
  margin-bottom: 3rem;
}

.col {
  margin-bottom: 1.5rem;
}

.col-code {
  padding: 2rem;
  background-color: var(--accent-bg);
}

@media (min-width: 768px) {
  .section {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .col {
    display: table-cell;
    padding: 3rem;
    vertical-align: top;
  }
  .col:first-child {
    padding-left: 0;
  }
}


//
// Sections
//

h2 {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  border-top: .25rem solid;
}


//
// Footer
//

.footer {
  padding: 3rem 1rem;
  font-size: 90%;
  text-align: center;
}
.footer p {
  margin-bottom: .5rem;
}

.quick-links {
  list-style: none;
  margin-left: 0;
}
.quick-links li {
  display: inline;
}
